<%- include("./Component/Head")%>

<body id="page-top" class="bg-dark">
  <!-- Navigation-->
  <%- include("./Component/Navbar")%>

  <!-- Masthead-->
  <%- include("./Component/Header")%>

  <!-- Services-->
  <%- include("./Component/Services")%>
  <!-- Portfolio Grid-->
  <%- include("./Component/Portfolio")%>

  <!-- About-->
  <%- include("./Component/About")%>

  <!-- Team-->
  <%- include("./Component/Team")%>

  <!-- Clients-->
  <%- include("./Component/Client")%>

  <!-- Contact-->
  <%- include("./Component/Contact")%>

  <!-- Footer-->
  <%- include("./Component/Footer")%>
</body>
